{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="col-md-5">
        <div class="card p-4 shadow-lg">
            <h2 class="mb-4 text-center text-primary"><i class="bi bi-shield-lock"></i> Nouveau mot de passe</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success w-100">Changer le mot de passe</button>
            </form>
        </div>
    </div>
</div>
{% endblock %} 